* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

.contanier {
    width: 100%;
    height: 100vh;


}

.contanier .navbar {
    width: 100%;
    height: 20%;
    position: relative;
    /* background-color: aqua; */
    overflow: hidden;

}

.navbar .top {
    width: 100%;
    height: 30%;
    background-color: rgb(58, 62, 106);
    font-weight: 300;
    font-size: 20px;
}

.navbar .top h1 {
    color: white;
    font-size: 60%;
    padding: 10px 0% 0% 10%;
}

.navbar .left {
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
    padding-left: 10%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-right: 10%;

}

.navbar .left img:hover {
    width: 27%;
}

.navbar .left a {
    color: slategrey;
}

.navbar .left a:hover {
    color: rgb(95, 210, 42);
}

.navbar .center {
    width: 50%;
    height: 30%;
    background-color: rgb(95, 210, 42);
    position: absolute;
    top: 15%;
    left: 50%;
    clip-path: polygon(3% 0, 100% 0%, 100% 100%, 0% 100%);
}

.contanier .home {
    width: 100%;
    height: 80vh;
    background-color: aqua;
}

.contanier .home .img .text {
    position: absolute;
    top: 20.5%;
    left: 25%;
    width: 75%;
    height: 84%;
    background-color: rgb(95, 210, 42);
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
    opacity: 0.6;

}

.contanier .home .text2 {
    width: 40%;
    height: 30%;
    color: white;
    font-weight: 700;
    line-height: 20px;

}

.contanier .home .text2 h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    font-family: Arial, Helvetica, sans-serif;
}

.contanier .home .text2 h3 {
    position: absolute;
    top: 52%;
    left: 50%;
    font-family: "Lucida Console", "Courier New", monospace;
}

.contanier .home .text2 h4 {
    position: absolute;
    top: 60%;
    left: 50%;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: beige;
}

.contanier .home .btn {
    width: 15%;
    height: 7%;
    border: 1px none blue;
    background-color: #140242FF;
    position: absolute;
    top: 75%;
    left: 50%;
}

.contanier .home .btn p {
    color: white;
    font-size: 20px;
    padding-left: 20%;
    padding-top: 5%;
    text-transform: uppercase;
}

.contanier .home .btn:hover {
    background-color: steelblue;
}

.contanier .about {
    margin-top: 3%;
    width: 100vw;
    height: 50vh;

    /* background-color: aqua; */
}

.contanier .about .box1 {
    width: 60%;
    height: 30%;
    background-color: rgb(95, 210, 42);
    clip-path: polygon(90% 0, 100% 100%, 0% 100%, 0% 0%);
}

.contanier .about .box1 h1 {
    color: white;
    padding-left: 20%;
    padding-top: 4%;
}

.contanier .about .box2 {
    width: 100%;
    height: 50%;
    background-color: rgb(58, 52, 73);
    position: absolute;
    top: 113%;
    z-index: -1;
}

.contanier .about .box2 p {
    color: white;
    position: absolute;
    top: 30%;
    z-index: 1;
    right: 60%;
    left: 3%;
    font-size: 15px;
}

.contanier .about .box3 {
    width: 15%;
    height: 5%;
    border: 1px none blue;
    background-color: rgb(95, 210, 42);
    position: absolute;
    top: 152%;
    left: 10%;
    cursor: pointer;
}

.contanier .about .box3:hover {
    background-color: green;
}

.contanier .about .box3 p {
    padding-left: 15%;
    color: white;
    text-transform: uppercase;
    margin-top: 2%;
}

.contanier .about .box4 {
    position: absolute;
    top: 108%;
    left: 60%;
}
